// Import page-specific CSS files here.
@import "home";

.equipment {
  display: flex;
  justify-content: space-around;
}

a {
  color: #f7b358;
}

a:hover {
  color: #ee8133;
  text-decoration: none;
}

.text-center {
  text-align: center;
}