// Import page-specific CSS files here.
@import "home";

.equipment {
  display: flex;
  justify-content: space-around;
}

a {
  color: #f7b358;
}

a:hover {
  color: #ee8133;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

// card css

.card {
  box-shadow: 0 -2px 10px rgba(0,0,0,1);
  border-radius: 25px;
  display: grid;

}

.card-img, .card-img-top {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 120px;
}

.content-wrapper {
  background-color: #343A40 ;
}

.form-control {
  background-color: #343A40;
  border: 1px solid #ffb427;
  &:focus {
    background-color: #343A40;
    color: #e9ecef;
  }
}

.btn-search {
  margin-left: 3px;
}

#index-heading {
  color:#e9ecef;
}

.map-right {
  position: absolute;
  right: 0%;
}

.map-sticky {
  height: 100vh;
  position: sticky;
  top: 0;
}

.cards-map {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  width: 1000px;
}

.card-height {
  height: 250px;
}

.card-pad {
  padding: 5px;
}




