.home-banner {
  background-image: linear-gradient(to bottom, rgba(5.5,0,0,0.5) 50%, rgba(5.5,0,0,1) 100%), asset-url("home.jpg");
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  padding-top: 40vh;
}
