.btn-orange {
  background-color: #f7b358;
}

.btn-orange:hover {
  background-color: #ee8133;
}

.btn-margin{
  margin-right: 25px;
}

.btn-search {
  background-color: #f7b358;
  padding: 6px;
  border-radius: 3px;
  border: none;
}

.btn-search:hover {
  background-color: #ee8133;
  transition: 0.3s;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

btn-grey {
  background-color: #6c757d;
  padding: 6px;
  border-radius: 3px;

  &:hover {
    background-color: #5a6268;
    transition: 0.3s;
  }
}