.navbar-lewagon {
  justify-content: space-between;
  background: #343A40;
  height: 15vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  border-radius: 50%;
  margin-left: 25px;
}

.navbar-drop li {
  list-style-type: none;
}



